
<!-- View for individual job pages -->

<h2><%= @job.title %></h2>

<p>
    <%= @job.description%>
    <%= @job.amount%>
</p>

<p> Hunt created by: <%= @job.user.first_name %></p>

<% if @job.accepted %>
    <p> Hunt accepted by: <%= @job.accepted %></p>
    <% else %>
    <p>This Hunt is still available! Accept it now.</p>
<%end %>



<% if current_user.has_role?(:slayer) && @job.accepted == nil %>
    <%= link_to "Accept Hunt", accepted_path, method: :patch %>
<% elsif !current_user.has_role?(:slayer) %>
    <%= link_to "Edit", edit_job_path(@job) %>
    <%= link_to "Delete", job_path(@job),  
        method: :delete,
        data: {confirm: "Are you sure you want to remove the hunt?"} %>
<% end %>