<h2>Edit your Slayer profile here</h2>

<%= form_for :slayer_info, url: slayerz_path(@slayer_info), method: :patch do |f| %>
    <%= f.label :weapon %>
    <%= f.text_field :weapon%>

    <%= f.label :biography %>
    <%= f.text_area :biography%>

    <%# <%= f.label :race %>
    <%# <%= f.collection_select :race, @races, :id, :race_name %>

    <%= f.submit %>
<% end %>