<section class="hero">

  <h2>Welcome to Slayerz!</h2>
    <h6>Slayerz is an online marketplace for weaklings and demons to connect and help each other. </h6>

    <% if user_signed_in? %>
        
    <% else %>
        <div class="btn-container">
                <%= link_to "Login", new_user_session_path, class: "btn-full" %>
                <%= link_to "Register", new_user_registration_path, class: "btn-empty"%>
        </div>
    <% end %>
</section>

<% if user_signed_in? %>

<section class="jobs">
<h3>Available Hunts</h3>
    <div class="job-container">
        <div class="job-card">
            <div class="job-items">
                <% @jobs.each do |job| %>
                    <div class="inner-job">
                    <h4><%= job.title%></h4>
                    <p><%= job.description%></p>
                    <%= link_to 'View more', job_path(job)%>
                    </div>
                <% end %> 
            </div>
        </div>
    </div>
</section>


<section class="slayers">
    <% @users.each do |user| %>
        <p>
        
        <%= user.first_name%>
        <% user.slayer_info %>
        <%= link_to 'View more', slayerz_path(user.slayer_info) %>
        </p>
    <% end %>
</section>




<% end %>
