<h1>Slayers and demons</h1>

<% @jobs.each do |job| %>
    <p><%= job.title%></p>
    <p><%= job.description%></p>
    <p><%= job.amount%></p>
    <%= link_to 'View more', job_path(job)%>
<% end %> 

<% @users.each do |user| %>
    <p>
    <%= user.first_name%>
    <% user.slayer_info %>
    <%= link_to 'View more', slayerz_path(user.slayer_info) %>
    </p>
<% end %>

