<h3><%= @slayer.user.first_name %></h3>


<!-- View for individual slayer profiles -->
<% if @slayer.profile_image.attached?%>
    <p><%= cl_image_tag @slayer.profile_image.key, crop: :scale, width: 250, cloud_name: 'kate-anisha' %></p>
<% end %>
<p>Name: <%= @slayer.user.first_name %></p>
<p>Weapon: <%= @slayer.weapon %></p>
<p>Biography: <%= @slayer.biography %></p>



