<!-- View for individual slayer profiles -->

<div class="show-container">
    <div class="show-info">
        <% if @slayer.profile_image.attached?%>
            <p><%= cl_image_tag @slayer.profile_image.key, crop: :scale, width: 500, cloud_name: 'kate-anisha' %></p>
        <% end %>
        <h3><%= @slayer.user.first_name %> <%= @slayer.user.last_name %></h3>
        <hr>
        <p><strong>Name:</strong> <%= @slayer.user.first_name %> <%= @slayer.user.last_name %> </p>
        <p><strong>Weapon:</strong>  <%= @slayer.weapon %></p>
        <p><strong>Biography:</strong>  <%= @slayer.biography %></p>
        <%= link_to "Contact", conversations_path, class: "btn-empty" %>
    </div>
</div>

