<!DOCTYPE html>
<html>
  <head>
    <title>Slayerz - Find and hire demons to help you with a problem.</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <!-- Main navigation -->
  <nav>
    <div class="logo">Slayerz</div>
    <%= link_to "Home", home_path %>
    <%= link_to "Create Hunt", new_job_path %>
    <%= link_to "View Hunts", jobs_path %>
    <%= link_to "Slayers", slayerz_index_path %>
    
    <% if current_user %>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
      <%= link_to "Account", edit_user_registration_path %>
    <% else %> 
      <%= link_to "Sign up", new_user_registration_path %>
      <%= link_to "Sign in", new_user_session_path %>
    <% end%>
  </nav>
  
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
